@import url('https://fonts.googleapis.com/css?family=Ubuntu');



.md-toolbar-tools {
    background-color: orangered;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.rowlist {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.scpic {
    height: 45px;
}

.tbTitle {
    font-family: 'Ubuntu', sans-serif;
}

.navButtons {
    float: right;
}

.crtLobby {
    margin-right: auto;
    margin-left: auto;
}

.inputForm {
    border-radius: 20px;
}